body {
    height: 100%;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

h1 {
    background-color: rgb(90, 90, 90);
    border: 3px solid rgb(55, 55, 55);
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
}

main {
    display: flex;
    flex-direction: row;
}

.tools {
    display: flex;
    width: 100px;
    flex-direction: column;
}

.instruments {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(90, 90, 90);
    border: 3px solid rgb(55, 55, 55);
    border-radius: 5px;
}

#width {
    width: 80px;
}

.pen,
.line, 
.eraser,
.bucket-full,
.bucket,
.pipette,
.move,
.rectngle,
.stroke-rectngle,
.circle,
.stroke-circle {
    height: 40px;
    width: 40px;
    margin: 3px 3px;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

.colors {
    display: grid;
    width: 300px;
    margin: 20px auto;
    font-size: 20px;
}

.frames {
    margin: 0 40px;
    height: 500px;
    overflow-y: scroll;
    background-color: rgb(90, 90, 90);
    border: 3px solid rgb(55, 55, 55);
    border-radius: 5px;
}

.frames::-webkit-scrollbar {
    width: 1px;
    background-color: rgb(255, 255, 255);
}

.frames::-webkit-scrollbar-thumb {
    background-color: rgb(0, 0, 0);
}

.frame-wrapper {
    display: flex;
    flex-direction: column;
}

.frame {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 5px auto;
    border: 1px solid rgb(0, 0, 0);
}

.frame-image, 
#prevCanvas_img {
    width: 100%;
    height: 100% ;
}

.button-delete {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 5px;
}

.button-copy {
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 5px;

}

.add,
.save {
    border-radius: 5px;
    margin: 5px 5px;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

.canvas {
    flex-grow: 5;
    position: relative;
}

#myColor {
    z-index: 1;
    width: 650px;
    height: 460px;
    position: absolute;
    background-color: rgb(255, 255, 255);
}

#myCanvas {
    z-index: 3;
    position: absolute;
    border-radius: 5px;
}

#prevCanvas {
    width: 300px;
    height: 215px;
    border: 3px solid rgb(55, 55, 55);
    border-radius: 5px;
}

#myGrid{
    z-index: 2;
    position: absolute;
    border: 3px solid rgb(55, 55, 55);
    border-radius: 5px;
}

.preview {
    margin: 10px 10px;
}

.play-wrapper {
    align-content: center;
    background-color: rgb(90, 90, 90);
    border: 3px solid rgb(55, 55, 55);
}

.transform-tool {
    background-color: rgb(90, 90, 90);
    border: 3px solid rgb(55, 55, 55);
}

.play,
.stop,
.full,
.turn,
.clone,
.mirror,
.centering  {
    margin: 5px 5px;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

#range-wrapper {
    display: none;
    font-size: 15px;
}

.coordinates_data {
    border: 1px solid rgb(255, 255, 255);
}